{% extends "base.html" %}
{% load static %}
{% block title %}Novel Scrapper{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "css/novels/novels.css" %}">
{% endblock css %}
{% block content %}
<form id="form" action="/novels/" class="container custom-form" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="mb-4">
        <label htmlFor="name" class="form-label">Novel Name</label>
        <input type="text" name="novel_name" class="form-control" id="name" required/>
    </div>
    <div class="mb-4">
        <label htmlFor="url" class="form-label">URL</label>
        <input type="text" name="novel_url" class="form-control" id="url" required />
    </div>
    <div class="mb-4">
        <label htmlFor="start" class="form-label" min="1" max="9999" value="1" required>Starting Chapter</label>
        <input type="number" name="starting_chapter" class="form-control" id="start" required />
    </div>
    <div class="mb-5">
        <label class="form-label">Source</label>
        <select name="novel_source" class="form-select">
            <option>Bednovel</option>
            <option>All Novel Updates</option>
            <option>Bakapervert</option>
        </select>
    </div>
   
    <button id="submitButton" type="submit" class="btn btn-primary position-relative">
        Request
    </button> 
</form>
<script>
    const form = document.querySelector("#form")
    const button = document.querySelector("#submitButton")
    
    button.addEventListener("click", () => {
        button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...'
        button.disabled = true;
        form.submit()
    })
</script>
{% endblock content %}